#reorder-text{
    font-size: 14px;
    letter-spacing: -0.194444px;
    text-align: center;
    color: #9495A5;
    animation: fadeinout 3s cubic-bezier(0.355, 0.955, 0.955, 0.355) forwards;
    opacity: 0;
    position: absolute;
    bottom: 72px;
    left: 0;
    width: 100%;

}

@keyframes fadeinout {
    50% {opacity: 1;};
}

@media screen and (min-width: 620px){
    #reorder-text{
        bottom: 52px;
    }
}